<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="includedFiles" type="BitsUpdatePacker.Configuration.TemplatesConfigSection, BitsUpdatePacker"/>
    <section name="excludedFiles" type="BitsUpdatePacker.Configuration.TemplatesConfigSection, BitsUpdatePacker"/>
  </configSections>
  
  <appSettings>
    <add key="OutputDirectory" value="D:\Desktop\Output" />
    <add key="CertificatePath" value="D:\Desktop\UpdateKey.snk" />    
  </appSettings>

  <includedFiles>
    <templates>
      <add id="1" directory="D:\Projects\BitsUpdater\BitsUpdater.Example\bin\Debug" pattern="*.exe" searchOption="TopDirectoryOnly" />
      <add id="2" directory="D:\Projects\BitsUpdater\BitsUpdater.Example\bin\Debug" pattern="*.dll" searchOption="AllDirectories" />
    </templates>
  </includedFiles>

  <excludedFiles>
    <templates>
      <add id="3" directory="D:\Projects\BitsUpdater\BitsUpdater.Example\bin\Debug" pattern="*.pdb" />
      <add id="4" directory="D:\Projects\BitsUpdater\BitsUpdater.Example\bin\Debug" pattern="*.vshost.*" />
    </templates>
  </excludedFiles>
  
</configuration>