<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Do not remove this section-->
  <configSections>
    <section name="includedFiles" type="BitsUpdatePacker.Configuration.TemplatesConfigSection, BitsUpdatePacker"/>
    <section name="excludedFiles" type="BitsUpdatePacker.Configuration.TemplatesConfigSection, BitsUpdatePacker"/>
  </configSections>
  
  <!-- Application settings for default values -->
  <appSettings>
    <add key="OutputDirectory" value="D:\Desktop\Output" />
    <add key="CertificatePath" value="D:\Desktop\UpdateKey.snk" />
    <add key="PackageUrlDirectory" value="http://chodounsky.net/files/temp" />
  </appSettings>

  <!-- Default values for included file templates. Search Option is optional. Each record should have proper id. -->
  <includedFiles>
    <templates>
      <add id="1" directory="D:\Projects\BitsUpdater\BitsUpdater.Example\bin\Debug" pattern="*.exe" searchOption="TopDirectoryOnly" />
      <add id="2" directory="D:\Projects\BitsUpdater\BitsUpdater.Example\bin\Debug" pattern="*.dll" searchOption="AllDirectories" />
    </templates>
  </includedFiles>

  <!-- Default values for excluded file templates. Search Option is optional. Each record should have proper id. -->
  <excludedFiles>
    <templates>
      <add id="3" directory="D:\Projects\BitsUpdater\BitsUpdater.Example\bin\Debug" pattern="*.pdb" />
      <add id="4" directory="D:\Projects\BitsUpdater\BitsUpdater.Example\bin\Debug" pattern="*.vshost.*" />
    </templates>
  </excludedFiles>
  
</configuration>